<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Foodfy | Erro inesperado</title>
        <link rel="stylesheet" href="/styles/not-found.css">

    </head>
    <body>
        <div class="container">
            <img src="/assets/notFound.gif" />

            <h1>Ocorreu um erro inesperado!</h1>

            <span>Parece que algo deu errado! Recarregue a página ou tente novamente mais tarde.</span>
        </div>
            
    </body>
</html>