<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  
  <title>Página não encontrada</title>
  <link rel="stylesheet" href="/styles/not-found.css">

</head>
<body>
  <div class="container">
    <img src="/assets/notfound.gif" />

    <h1>404 - Página não encontrada</h1>

    <span>Ops! Não encontramos a página que você está procurando...</span>
  </div>

</body>
</html>