{% extends "public-access/layout.njk" %}

{% block head %}
    <title>Foodfy | Sobre</title>
    <link rel="stylesheet" href="/styles/public-access/about/about.css">
{% endblock head %}

{% block content %}
  <section class="about">
    <div class="about-foodfy">
      <h2>Sobre o Foodfy</h2>
    </div>
    <div class="about-text">
      <div>
        <p>
          Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá. Cevadis im ampola pa arma uma pindureta. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Detraxit consequat et quo num tendi nada.
        </p>
      </div>
      <div>
        <p>
          Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Paisis, filhis, espiritis santis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
        </p>
      </div>
    </div>

    <div class="how-foodfy-started">
      <h2>Como tudo começou...</h2>
    </div>
    <div class="how-foodfy-started-text">
      <div>
        <p>
          Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Paisis, filhis, espiritis santis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
        </p>
      </div>
      <div>
        <p>
          Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as pessoas mais interessantis. In elementis mé pra quem é amistosis quis leo. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Per aumento de cachacis, eu reclamis.
        </p>
      </div>
    </div>

    <div class="our-recipes">
      <h2>Nossas receitas</h2>
    </div>
    <div class="our-recipes-text">
      <div>
        <p>
          Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as pessoas mais interessantis. In elementis mé pra quem é amistosis quis leo. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Per aumento de cachacis, eu reclamis.
        </p>
      </div>
    </div>
  </section>
{% endblock content %}